.box-container {
    display:flex;
    flex-wrap:wrap;
    flex-grow: 1;
}
.thumbnail-image {
    border-radius: 50%;
    margin-right:6px;
}
.comments-container {
    display:flex;
    flex-wrap:wrap;
    flex-grow: 1;
    flex-direction: column;
}
.header-author {
    display:flex;
    flex-wrap:wrap;
    flex-grow: 1;
    height: 20px;
}
.author-name {
    margin-top: 0px;
    font-size:small;
    margin-right: 5px;
}
.time-written {
    font-size: small;
}
#expander {
    font-size: smaller;
}
#actions {
    display: flex;
}
.betweengoodbad{
    font-size: smaller;
    margin-left: 8px;
    margin-right: 12px;
}